body{
     background-color: white(225, 165, 0);
}
.cart{
    width: 30vw;
    display: inline-block;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}
.cart img{
    width: 100%;
    height: auto;

}
label{
    min-width: 200px;
}
.card-body{
    border: 1px solid black;
    margin: 15vh;
    padding: 1rem;
}
 product -container{
    display: grid;
    grid-template-columns: repeat(3,1fr);/
    *adjust the number of columns as needed*/
    grid: gap 20px;/* adjust the gap between products*/ }   

